<div id="<%= dom_id vaga_de_emprego %>">
  <p>
    <strong>Nome:</strong>
    <%= vaga_de_emprego.nome %>
  </p>

  <p>
    <strong>Explicacao:</strong>
    <%= vaga_de_emprego.explicacao %>
  </p>

  <p>
    <strong>Remuneracao:</strong>
    <%= vaga_de_emprego.remuneracao %>
  </p>

</div>
